body {
    background-color: #828282;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: justify;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}
.myFooter{
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 20px;
}
  
.footer-text{

    text-align: center;
}
.mt-md-4 {
    margin-top: 1rem;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.normal {
    color: green;
}

.warning {
    color: yellow;
}

.danger {
    color: red;
}

.color{
    background-color: #fff;
}

.logo{
    width: 130px;
    height: 100px;
  }

  html, body {
    height: 100%;
}

.content-wrap {
    min-height: calc(100% - 70px);
}

/* Estilos generales para todas las pantallas */

/* Estilos para teléfonos (hasta 767px de ancho) */
@media (max-width: 767px) {
    /* Estilos específicos para la vista desde el teléfono */
  }
  
  /* Estilos para tabletas (768px a 991px de ancho) */
  @media (min-width: 768px) and (max-width: 991px) {
    /* Estilos específicos para tabletas */
  }
  
  /* Estilos para pantallas de escritorio (más de 992px de ancho) */
  @media (min-width: 992px) {
    /* Estilos específicos para pantallas de escritorio */
  }
  
  @media (max-width: 768px) {
    .footer-container {
      padding: 10px;
    }
  }
  .btn-toggle {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-on {
    background-color: green;
    color: white;
  }
  
  .btn-off {
    background-color: red;
    color: white;
  }
  
  .btn-disabled {
    background-color: gray;
    
  }
  
  .centro{
    text-align: center;
  }

  .process-control {
    flex: 1;
    min-width: 0;
    margin-bottom: 20px;
  }


  .process-container{
    max-width: 1200px;
    width: 100%;
  }