body {
    background-color: #828282;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: justify;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}
.myFooter{
    background-color: #fff;
    color: black;
    text-align: center;
}

.mt-md-4 {
    margin-top: 1rem;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.normal {
    color: green;
}

.warning {
    color: yellow;
}

.danger {
    color: red;
}

.color{
    background-color: #fff;
}